{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'forum/main.css' %}">
	 
	<div class="chef">
		<div class ="chef-container">
			<ul>
				<li class="transition">
					<div class="icon-container">
						<img src="static/forum/images/chef.jpg">
					</div>
					<p class="title">John Smith</p>
					<p class="desc">consequat semper viverra nam libero</p>
					<div class="rating">
						<a href="#">Rating
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span></a>
					</div>
					<a href="{% url 'menu1' %}">View Menu</a>
				</li>
				<li class="transition">
					<div class="icon-container">
						<img src="images/chef.png" alt="Jane Doe">
					</div>
					<p class="title">Jane Doe</p>
					<p class="desc">consequat semper viverra nam libero</p>
					<div class="rating">
						<a href="#">Rating
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span></a>
					</div>
					<a href="{% url 'menu2' %}">View Menu</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
<!-- Footer -->
