<!DOCTYPE HTML>

<html>

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Array Pasta homepage">
    <meta name ="viewpoint" content="width=device-width, initial-scale=1">
    <title> Array Pasta </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
     <link href="css/styles.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <!-- Navigation bar -->
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> Array Pasta </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul  class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="Home.html">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="About_us.html">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Menu.html">MENU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Discussion_forums.html">DISCUSSION FORUMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Contact_us.html">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration.html">SIGN IN / SIGN UP</a>
            </li>
            <!-- <li>
            <a href="cart.html"> <img border='0' alt="cart image" src="css/images/cart.png" width='100' height='100'> </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="cart.html">CART</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>

    <main>
      <div class="jumbotron banner">
        <div class="container">
          <div class="row justify-content-center align-self-center">
            <h1> Our Story </h1>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <!-- footer -->
      <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <h3> Array Pasta </h3>
          <hr class="light">
          <p> 777-777-7777 </p>
          <p> Array_Pasta@email.com</p>
          <p> 100 Street Name </p>
          <p> New York, NY, 00000 </p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5>Our Hours </h5>
          <hr class="light">
          <p>Monday - Thursday: 12pm - 8pm </p>
          <p>Friday: 12pm - 11pm </p>
          <p>Saturday 11am - 11pm </p>
          <p>Sunday: 1pm - 7pm </p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5>Service area </h5>
          <hr class="light">
          <p> City, State, 00000</p>
          <p> City, State, 00000</p>
          <p> City, State, 00000</p>
          <p> City, State, 00000</p>
        </div>
        <div class="col-12">
          <hr class="light-100">
          <h5> &copy; Array Pasta </h5>
        </div>
      </div>
      </div>
    </footer>
  </body>
